env/
__pycache__/
*.pyc
.idea/
.ipynb_checkpoints
/training/gpt2/
/training/model.pth
/training/model_and_optimizer.pth
Classification_fine-tuning/gpt2/
Classification_fine-tuning/*.pth
Classification_fine-tuning/*.zip
Classification_fine-tuning/*.csv
fine-tune_instructions/gpt2
fine-tune_instructions/gpt2-medium355M-sft.pth
artifacts/model/model_and_optimizer.pth
gpt2/


